<template>
    <el-container>
        <div id="question_detail_body">
        <h1></h1>
        <el-header>no.23123</el-header>
        <el-main>
            <div id="question_detail_content">
            <div id="title_question">
               <div  id="title"><h2>제목</h2></div>
                <div id="question"><h3>문의사항</h3></div>
            </div>
            <div>
            <div id="title_content"><h2>제곧내</h2></div>
            <div id="question_content"><h3>감자탕이 먹고 싶은데 연결 안되네요. 현기증 납니다. 빠른 답변 부탁드립니다.</h3></div>
            </div>
            </div>
        </el-main>
        </div>
    </el-container>
</template>
<script setup>
</script>
