<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="memberId" prop="memberId">
                        <el-input v-model="ruleForm.memberId"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="비밀번호" prop="password">
                        <el-input v-model="ruleForm.password"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="비밀번호확인" prop="passwordRe">
                        <el-input v-model="ruleForm.passwordRe"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="이름" prop="이름">
                        <el-input v-model="ruleForm.name"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click="doSetData()">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
export default {
    middleware: 'anonymous',
    data() {
        return {
            ruleForm: {
                memberId: '',
                password: '',
                passwordRe: '',
                name: '',
            },
            rules: {
                memberId: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                password: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 8, max: 20, message: '8~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                passwordRe: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 8, max: 20, message: '8~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                name: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 2, max: 10, message: '2~10자 내로 입력해주세요.', trigger: 'blur'}
                ]
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                memberId: this.ruleForm.memberId,
                password: this.ruleForm.password,
                passwordRe: this.ruleForm.passwordRe,
                name: this.ruleForm.name

            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.DO_CREATE_COMMENT, payload)
                .then(res => {
                    this.$toast.success('등록에 성공하였습니다.')
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/customer/list`)
                })
                .catch(err => {
                    this.$toast.error('등록 실패하였습니다.')
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_ADD')
    },
}
</script>
