<template>
    <div id="login_main">
        <div id="login_top">
            <h1>우리집 냉장고</h1>
        </div>
        <div id="login_word">
            <div id="login_admin">
                <h2>관리자 로그인</h2>
            </div>
            <div id="pone">
                <p>관리자 모드 로그인 하세요.</p>
            </div>
        </div>
        <div id="admin_id">
            <textarea id="admin_id_text" placeholder="아이디를 입력 해주세요."></textarea>
        </div>
        <div id="admin_password">
            <textarea id="admin_password_text" placeholder="패스워드를 입력 해주세요."></textarea>
        </div>
        <div id="button_login">
            <button>로그인</button>
        </div>
    </div>
</template>
<script setup>
</script>
