.el-button {
    height: 35px !important;
    padding: 10px !important;
    font-size: 13px !important;
}

.el-button + .el-button {
    margin-left: 5px !important;
}

.el-button--dark {
    height: 30px !important;
    padding: 0 10px !important;
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #f2f2f2;
}

.el-button--primary {
    height: 30px !important;
    padding: 0 10px !important;
    background-color: #223cac !important;
    border-color: #193192 !important;
}

.el-button--success {
    height: 30px !important;
    padding: 0 10px !important;
    background-color: #21610b !important;
    border-color: #174407 !important;
}

.el-button--warning {
    height: 30px !important;
    padding: 0 10px !important;
    background-color: #cd7b14 !important;
    border-color: #b16a0f !important;
}

.el-button--danger {
    height: 30px !important;
    padding: 0 10px !important;
    background-color: #c10f0f !important;
    border-color: #ac0c0c !important;
}

.el-button--info {
    height: 30px !important;
    padding: 0 10px !important;
    color: #333333 !important;
    background-color: #dddddd !important;
    border-color: #c9c9c9 !important;
}

.el-button.is-circle {
    height: 35px !important;
    border-radius: 3px !important;
    padding: 0 8px !important;
    font-size: 16px !important;
}


.el-alert__title {
    font-size: 14px !important;
}

.el-alert--info .el-alert__description, .el-alert .el-alert__description {
    font-size: 14px !important;
}

.el-alert--info.is-dark {
    background-color: #f5f5f5 !important;
    border: #e5e5e5 1px solid !important;
    color: #333333 !important;
}

.el-alert.is-dark .el-alert__closebtn, .el-alert.is-dark .el-alert__description {
    color: #333333;
}

.el-alert--warning.is-dark {
    background-color: #ffeeee !important;
    border: #ffe5e5 1px solid !important;
    color: #333333 !important;
}

.description-emphasize .el-alert__description {
    color: red !important;
}


div.in-contents .el-row {
    margin-bottom: 10px !important;
}

div.in-contents .el-row:last-child {
    margin-bottom: 0 !important;
}


.el-form-item__content {
    line-height: 35px !important;
}

.el-form-item {
    margin-bottom: 0 !important;
}

.el-form-item__error {
    font-size: 11px !important;
    position: relative !important;
    font-weight: 600 !important;
}

.el-form-item__label {
    font-size: 14px !important;
    line-height: 35px !important;
    color: #333333 !important;
    padding-right: 5px !important;
}

.el-input__inner {
    height: 35px !important;
    line-height: 1 !important;
}

.big-size-input-box > .el-textarea__inner {
    height: calc(100vh - 30px - 88px - 50px - 34px - 35px - 45px - 97px - 46px) !important;
}

.el-select {
    width: 100% !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100% !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #223cac !important;
}

.el-pagination {
    text-align: center !important;
}

.info-list-input > .el-input__inner {
    height: 30px !important;
}

.info-list-date-picker.el-input {
    width: 200px !important;
}

.info-list-date-picker > .el-input__inner {
    width: 200px !important;
}

.el-calendar-table .el-calendar-day {
    height: auto !important;
    min-height: 85px !important;
    line-height: 1.5 !important;
}

.el-calendar-table .el-calendar-day strong {
    font-weight: 600 !important;
}

.el-backtop, .el-calendar-table td.is-today {
    color: #223cac !important;
}

.el-button--mini {
    height: 18px !important;
}

.el-calendar__title {
    font-weight: 600 !important;
    font-size: 16px;
}

.el-calendar__header .el-calendar__button-group .el-button--mini {
    height: 30px !important;
}

div.color-red input.el-input__inner {
    color: #c90c10;
}

/*seat-file-tabs*/
div.seat-file-tabs div.el-tabs__header {
    position: static !important;
    border: none !important;
}

div.seat-file-tabs div.el-tabs__nav-wrap {
    padding: 0 !important;
    margin-bottom: 0 !important;
    position: static !important;
}

div.seat-file-tabs span.el-tabs__nav-prev {
    display: none !important;
}

div.seat-file-tabs span.el-tabs__nav-next {
    display: none !important;
}

div.seat-file-tabs div.el-tabs__nav {
    white-space: normal !important;
    transform: none !important;
    border: none !important;
}

div.seat-file-tabs div.el-tabs__item {
    width: 180px;
    text-align: center;
    border: 1px solid #e4e7ed !important;
    margin: 5px;
}

div.important-is-emergency label {
    font-weight: bold;
    color: #c90c10 !important;
}

div.el-collapse {
    border: none !important;
}

div.el-collapse-item__header {
    border-bottom: none !important;
    height: auto !important;
    line-height: 0 !important;
    font-size: 14px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

div.el-collapse-item__header span {
    color: #666 !important;
}

div.el-collapse-item__wrap {
    border-bottom: none !important;
}

div.el-collapse-item__content {
    padding-bottom: 0 !important;
}

i.el-collapse-item__arrow {
    color: #000 !important;
    font-size: 16px !important;
}

.el-dialog {
    background-color: #f8f9fa !important;
}

.el-dialog .el-dialog__header {
    font-size: 15px !important;
    font-weight: 700 !important;
    text-align: center !important;
}

.el-dialog .el-dialog__body .el-form {
    padding: 15px !important;
    border: #eeeeee 1px solid !important;
    border-radius: 5px !important;
    background-color: #ffffff !important;
}

.full-size-modal .el-dialog {
    width: 90% !important;
}

div.el-transfer {
    overflow: hidden !important;
    display: flex !important;
    align-items: center !important;
}

div.el-transfer-panel {
    display: block !important;
    width: 50% !important;
    height: calc(100vh - 204px) !important;
    overflow: hidden !important;
}

div.el-transfer-panel__body {
    height: calc(100vh - 264px) !important;
}

div.el-transfer-panel__list {
    height: calc(100vh - 309px) !important;
    overflow-y: auto !important;
}

div.el-transfer__buttons {
    padding: 0 15px !important;
}

div.el-transfer__buttons button {
    display: block !important;
}

div.el-transfer__buttons button:nth-child(2) {
    margin-left: 0 !important;
}

div.large-dialog > div.el-dialog {
    width: 70% !important;
}

div.scroll-dialog > div.el-dialog {
    margin-top: 10vh !important;
}

div.scroll-dialog > div.el-dialog > div.el-dialog__body {
    height: 60vh !important;
    overflow-y: scroll !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

div.scroll-dialog > div.el-dialog > div.el-dialog__body::-webkit-scrollbar {
    display: none !important;
}

div.horizontal-slide-table > div.el-table__body-wrapper {
    height: 85vh !important;
    overflow: auto !important;
}

div.el-table__header-wrapper table.el-table__header thead tr th {
    color: #333;
    font-weight: bold;
    background-color: #F5F5F5;
    border-bottom: 2px solid #333 !important;
}

div.primary-table div.el-table__body-wrapper tbody tr td:last-child {
    color: #000000;
    font-weight: 600 !important;
}

/*수정시작*/

div#join_member{
    width: 1200px;
    margin: 150px auto 0 450px;
}

div#join_member h1{
    font-size: 30px;
    margin-left: 160px;
}

div.join_member.el-row{
    width: 1200px;
    margin-top: 20px;
    align-content: center;
    align-items: center;
}
/*회원가입*/

div#buttons{
    display: flex;

}

div#submit_button{
    margin-left: 50px;
}

div#back_button{
    margin-left: 20px;
}

/*회원가입*/


/*회원 리스트 s*/

#member_list > #member_list_button_edit.span{
    font-weight: bold;
}

template#member_list_column_header{
 float: left;
}

div#member_list{
    margin-top: 50px;
}

div#member_list > div#member_list_h1{
    margin: 20px 50px 50px 0;
    border-bottom:solid black 2px!important;
}

div#member_list > div > h1{
    font-size: 35px;
    font-weight: bold;
    font-family: "Helvetica Neue",
    Helvetica, "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
}

div#member_list > div#member_list_h2{
    border-bottom: solid black 2px!important;
    margin-bottom: 80px;
}

div#member_list > div > h2{
    font-size: 28px;
    font-weight: bold;
    font-family: "Helvetica Neue",
    Helvetica, "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
}

div#member_list_list{
    margin-top: 30px;
}

template#member_list_column_header > div#member_list_header{
    display: flex!important;
}

/*회원 리스트 e*/

/*question detail s*/
div#question_detail_body{
    margin-top: 30px;
    margin-left: 100px;
}
div#question_detail_content{
    display: flex;
}

div#question_detail_content {
    border: black solid 1px;
    border-collapse: collapse;
}

div#title_question{
    border-right: black 1px solid;
}
div#question_detail_content >div > div#title{
    height: 50px;
    border-bottom: 1px solid black;
    align-items: baseline!important;
}

div#question_detail_content h2{
    margin-top: 30px;
    margin-left: 15px;
  align-content: center;
}

div#question_detail_content >div > div#title_content{
    height: 50px;
    border-bottom: 1px solid black;
    justify-content: end;
}

div#question_detail_content  h3{
    margin-top: 60px;
}

div#question_detail_content >div > div#question{
    height: 300px;
    width: 300px;
}
div#question_detail_content >div > div#question_detail_content{
    height: 300px;
    width: 600px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    align-content: center;
    align-items: baseline!important;
}

div#member_list_header{
    display: flex;
}

/*대쉬보드*/
div.dashboard-body{
    margin: 30px auto 0 auto;
    width: 1600px!important;
    height: 1000px;
}



div.dashboard-header{
    width: 1600px;
    height: 130px;
}

.dashboard-header{
    display: flex;
}



.dashboard-header-content{
    border: whitesmoke 2px solid;
    background: whitesmoke;
    border-radius: 5px;
    margin: 5px;
    width: 500px;
    height: 120px;
}

.dashboard-header-member{
}

.dashboard-header-member-detail{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 5px;

}

.dashboard-header-member-detail p{
    font-size: 14px;
}

.dashboard-header-number1{
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #2980b9;
    display: flex;
    gap: 55px;
    justify-content: center;

}

.dashboard-header-number2{
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #e74c3c;
    display: flex;
    gap: 65px;
    justify-content: center;

}

.dashboard-header-number3{
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #2ecc71;
    display: flex;
    gap: 80px;
    justify-content: center;

}

.dashboard-header-detail-num{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    text-align: center;
}


.dashboard-content{
    display: flex;
    width: 1600px;
    height: 700px;
}

.dashboard-content-left{
    width: 770px;
    height: 500px;
}

.dashboard-content2{
    display: flex;
    width: 770px;
    height: 310px;
}


.dashboard-content-text{
    background: whitesmoke;
    width: 750px;
    height: 400px;
    margin: 5px;
    border: whitesmoke 2px solid;
}

.dashboard-content-text-title{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 16px;
}


.dashboard-content-graph{
    background: whitesmoke;
    width: 370px;
    height: 340px;
    margin: 5px;
    border: whitesmoke 2px solid;
}

ul,li{
    list-style:none;
}

.blind{
    position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    overflow:hidden;
}
.vertical_chart_box{
    margin-top: 20px;
    position:relative;
    .chart_box{
        position:relative;
        margin-bottom:45px;
        padding-left:20px;
        box-sizing:border-box;
        height:200px;
    }
    .axis_y{
        display:-webkit-flex;
        display:-ms-flex;
        display:-o-flex;
        display:flex;
        flex-direction:column-reverse;
        align-items:center;
        justify-content:space-between;
        position:absolute;
        top:0;
        left:0;
        margin:0;
        padding:0;
        width:20px;
        height:100%;
        font-size:12px;
        color:#4a4a4a;
        &:before{
            content:'';
            position:absolute;
            top:5px;
            bottom:0;
            right:0;
            width:1px;
            background:#d3d3d3;
        }
    }
    .axis_x{
        display:-webkit-flex;
        display:-ms-flex;
        display:-o-flex;
        display:flex;
        justify-content:center;
        position:relative;
        padding:0;
        box-sizing:border-box;
        height:100%;
        border-bottom:1px solid #d3d3d3;
        .item{
            flex:1;
            position:relative;
            .text_box{
                position:absolute;
                bottom:-50px;
                left:50%;
                text-align:center;
                -webkit-transform:translate(-50%,0);
                -ms-transform:translate(-50%,0);
                -o-transform:translate(-50%,0);
                transform:translate(-50%,0);
                .day{
                    display:block;
                    font-size:12px;
                    line-height:19px;
                    color:#4a4a4a;
                    &.sat{
                        color:#3475ed;
                    }
                    &.sun{
                        color:#eb474a;
                    }
                }
                .time{
                    display:block;
                    margin-top:3px;
                    font-size:12px;
                    color:#999;
                }
            }
        }
        .graph{
            display:-webkit-flex;
            display:-ms-flex;
            display:-o-flex;
            display:flex;
            flex-direction:column-reverse;
            position:relative;
            margin:0 auto;
            padding:0;
            width:35px;
            height:100%;
            background:#e8e8e8;
            border-radius:3px 3px 0 0;
            overflow:hidden;
            .time{
                display:block;
                position:relative;
                margin-bottom:-4px;
                padding-top:4px;
                box-sizing:content-box;
                width:100%;
                border-radius:3px 3px 0 0;
                &.data1{
                    background: #18ffb1;
                    z-index:3;
                }
                &.data2{
                    background: #18ffb1;
                    z-index:2;
                }
                &.data3{
                    background: #18ffb1;
                    z-index:1;
                }
            }
        }
        .button.graph{
            border:0;
        }
    }
}

.dashboard-content-right{
    margin: 5px 5px 5px 0px;
    background: whitesmoke;
    width: 760px;
    height: 750px;
    border: whitesmoke 2px solid;
}

.dashboard-content-right-title1{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.dashboard-content-right-title1-time{
    margin: 30px 10px 5px 15px;
}


