html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
html {
    overflow-y: hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    cursor: pointer;
    color: #223cac;
    text-decoration: none;
}

hr {
    border: #e5e5e5 1px solid;
    margin: 20px 0;
}


div #login_main{
    width: 1600px ;
    margin: 0px auto;
    justify-content: center;
    text-align: center;
}

div #login_top{
    width: 1600px;
    height: 200px;
    background: #6bd049;
    justify-items: center;
    overflow: hidden;
    position: relative;
}
div #login_top h1{
    width: 1200px;
    height: 85px;
    font-size: 85px;
    color: #f9f9f9;
    position: absolute;
    margin-left: 200px;
    top: 30%;
}

div #login_admin{
    width: 500px;
    margin: 230px auto 0 auto;
}

div #login_admin h2{
    font-size: 60px;
    margin-top: 80px;
    text-align: left;
}

div #pone{
    width: 500px;
    margin: 30px auto;
}

div #pone p {
    font-size: 25px;
    margin-top: 35px;
    text-align: left;
}

div #admin_id{
    display: block;
    width: 500px;
    height: 50px;
    margin: 10px auto;
}

div #admin_id textarea{
    font-size: 25px;
    width: 490px;
    height: 50px;
    border: 2px solid #000000;
    resize: none;
}


div #admin_id textarea::placeholder{
    margin-top: 30px;
    font-size: 25px;
}

div #admin_password{
    display: block;
    width: 500px;
    height: 50px;
    margin: 25px auto;
}

div #admin_password textarea{
    font-size: 25px;
    width: 490px;
    height: 50px;
    resize: none;
    border: 2px solid #000000;
}
div #admin_password textarea::placeholder{
    font-size: 25px;
    line-height: 1.6em;
}

textarea:focus::-webkit-input-placeholder {
    color:transparent;
}

div #button_login button {
    margin-top: 10px;
    width: 170px;
    height: 50px;
    background: #6bd049;
    color: #f9f9f9;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
}

