<template>
    <div class="dashboard-body">
        <div class="dashboard-header">
            <div class="dashboard-header-content">
                <div class="dashboard-header-member">
                    <div class="dashboard-header-number1">
                        <div class="dashboard-header-detail-num">{{360|currency}}</div>
                        <div class="dashboard-header-detail-num">{{2650|currency}}</div>
                    </div>
                    <div class="dashboard-header-member-detail">
                        <div><p>1월 신규회원</p></div>
                        <div><p>총 가입 회원</p></div>
                    </div>
                </div>
            </div>
            <div class="dashboard-header-content">
                <div class="dashboard-header-member">
                    <div class="dashboard-header-number2">
                        <div class="dashboard-header-detail-num" >{{21|currency}}</div>
                        <div class="dashboard-header-detail-num">{{3210|currency}}</div>
                    </div>
                    <div class="dashboard-header-member-detail">
                        <div><p>신규 등록 레시피</p></div>
                        <div><p>총 등록 레시피</p></div>
                    </div>
                </div>
            </div>
            <div class="dashboard-header-content">
                <div class="dashboard-header-member">
                    <div class="dashboard-header-number3">
                        <div class="dashboard-header-detail-num">{{5|currency}}</div>
                        <div class="dashboard-header-detail-num">{{12|currency}}</div>
                    </div>
                    <div class="dashboard-header-member-detail">
                        <div><p>1월 광고 종료 업체</p></div>
                        <div><p>총 계약 업체 수</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-content">
            <div class="dashboard-content-left">
                <div class="dashboard-content-text">
                    <div class="dashboard-content-text-title">
                        연동별 가입자 수
                    </div>
                    <div>
                        <el-table
                            :data="tableData"
                            border
                            height="300"
                            :summary-method="getSummaries"
                            show-summary
                            style="width: 100%; margin-top: 20px">
                            <el-table-column
                                prop="id"
                                label="ID"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="name"
                                label="Name">
                            </el-table-column>
                            <el-table-column
                                prop="amount1"
                                label="네이버">
                            </el-table-column>
                            <el-table-column
                                prop="amount2"
                                label="카카오">
                            </el-table-column>
                            <el-table-column
                                prop="amount3"
                                label="구 글">
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
                <div class="dashboard-content2">
                <div class="dashboard-content-graph">
                    <div class="vertical_chart_box">
                        <div class="chart_box">
                            <ul class="axis_y">
                                <li class="item">0<span class="blind">시간</span></li>
                                <li class="item">3<span class="blind">시간</span></li>
                                <li class="item">6<span class="blind">시간</span></li>
                                <li class="item">9<span class="blind">시간</span></li>
                                <li class="item">12<span class="blind">시간</span></li>
                            </ul>
                            <ul class="axis_x">
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">17(월)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:80%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">18(화)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:50%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">19(수)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:50%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">20(목)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:100%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">21(금)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:40%;"><span class="blind">data 타입 1</span></span>

                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dashboard-content-graph">
                    <div class="vertical_chart_box">
                        <div class="chart_box">
                            <ul class="axis_y">
                                <li class="item">0<span class="blind">시간</span></li>
                                <li class="item">3<span class="blind">시간</span></li>
                                <li class="item">6<span class="blind">시간</span></li>
                                <li class="item">9<span class="blind">시간</span></li>
                                <li class="item">12<span class="blind">시간</span></li>
                            </ul>
                            <ul class="axis_x">
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">17(월)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:80%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">18(화)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:50%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">19(수)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data3" style="height:90%;"><span class="blind">data 타입 3</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">20(목)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:80%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                                <li class="item">
                                    <div class="text_box">
                                        <strong class="day">21(금)</strong>
                                        <span class="time">00시간</span>
                                    </div>
                                    <button type="button" class="graph">
                                        <span class="time data1" style="height:40%;"><span class="blind">data 타입 1</span></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="dashboard-content-right">
                <div class="dashboard-content-right-title1">
                    <div class="dashboard-content-right-title1-time">제휴 계약 종료 기간 </div>
                    <div class="dashboard-content-right-title1-time"><a>더보기</a></div>
                </div>
                <template>
                    <el-table
                        :data="tableData2"
                        style="width: 100%">
                        <el-table-column
                            prop="date"
                            label="Date"
                            width="180">
                        </el-table-column>
                        <el-table-column
                            prop="name"
                            label="Name"
                            width="180">
                        </el-table-column>
                        <el-table-column
                            prop="address"
                            label="Address">
                        </el-table-column>
                    </el-table>
                </template>
                <div class="dashboard-content-right-title1">
                    <div class="dashboard-content-right-title1-time">답변 대기 질문 </div>
                    <div class="dashboard-content-right-title1-time"><a>더보기</a></div>
                </div>
                <div>
                    <template>
                        <el-table
                            :data="tableData3"
                            style="width: 100%">
                            <el-table-column type="expand">
                                <template slot-scope="props">
                                    <p>State: {{ props.row.state }}</p>
                                    <p>City: {{ props.row.city }}</p>
                                    <p>Address: {{ props.row.address }}</p>
                                    <p>Zip: {{ props.row.zip }}</p>
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="Date"
                                prop="date">
                            </el-table-column>
                            <el-table-column
                                label="Name"
                                prop="name">
                            </el-table-column>
                        </el-table>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tableData: [{
                id: '12987122',
                name: 'Tom',
                amount1: '234',
                amount2: '3.2',
                amount3: 10
            }, {
                id: '12987123',
                name: 'Tom',
                amount1: '165',
                amount2: '4.43',
                amount3: 12
            }, {
                id: '12987124',
                name: 'Tom',
                amount1: '324',
                amount2: '1.9',
                amount3: 9
            }, {
                id: '12987125',
                name: 'Tom',
                amount1: '621',
                amount2: '2.2',
                amount3: 17
            }, {
                id: '12987126',
                name: 'Tom',
                amount1: '539',
                amount2: '4.1',
                amount3: 15
            }]
            ,
            tableData2: [{
                date: '2016-05-03',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles'
            }, {
                date: '2016-05-02',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles'
            }, {
                date: '2016-05-04',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles'
            }, {
                date: '2016-05-01',
                name: 'Tom',
                address: 'No. 189, Grove St, Los Angeles'
            }],
            tableData3: [{
                date: '2016-05-03',
                name: 'Tom',
                state: 'California',
                city: 'Los Angeles',
                address: 'No. 189, Grove St, Los Angeles',
                zip: 'CA 90036'
            }, {
                date: '2016-05-02',
                name: 'Tom',
                state: 'California',
                city: 'Los Angeles',
                address: 'No. 189, Grove St, Los Angeles',
                zip: 'CA 90036'
            }, {
                date: '2016-05-04',
                name: 'Tom',
                state: 'California',
                city: 'Los Angeles',
                address: 'No. 189, Grove St, Los Angeles',
                zip: 'CA 90036'
            }, {
                date: '2016-05-01',
                name: 'Tom',
                state: 'California',
                city: 'Los Angeles',
                address: 'No. 189, Grove St, Los Angeles',
                zip: 'CA 90036'
            }, {
                date: '2016-05-08',
                name: 'Tom',
                state: 'California',
                city: 'Los Angeles',
                address: 'No. 189, Grove St, Los Angeles',
                zip: 'CA 90036'
            }, {
                date: '2016-05-06',
                name: 'Tom',
                state: 'California',
                city: 'Los Angeles',
                address: 'No. 189, Grove St, Los Angeles',
                zip: 'CA 90036'
            }, {
                date: '2016-05-07',
                name: 'Tom',
                state: 'California',
                city: 'Los Angeles',
                address: 'No. 189, Grove St, Los Angeles',
                zip: 'CA 90036'
            }]
        };
    },
    methods: {
        getSummaries(param) {
            const { columns, data } = param;
            const sums = [];
            columns.forEach((column, index) => {
                if (index === 0) {
                    sums[index] = 'Total Cost';
                    return;
                }
                const values = data.map(item => Number(item[column.property]));
                if (!values.every(value => isNaN(value))) {
                    sums[index] = '$ ' + values.reduce((prev, curr) => {
                        const value = Number(curr);
                        if (!isNaN(value)) {
                            return prev + curr;
                        } else {
                            return prev;
                        }
                    }, 0);
                } else {
                    sums[index] = 'N/A';
                }
            });

            return sums;
        }
    }
};
</script>
