<template>
    <el-descriptions class="margin-top" title="회원 정보" :column="2" :size="size" borde v-bind="data" >
        <el-descriptions-item>
            <template slot="label">
                <i class="el-icon-user"></i>
                회원 번호
            </template>
               {{id=data.id}}
        </el-descriptions-item>
        <el-descriptions-item>
            <template slot="label">
                <i class="el-icon-message"></i>
                이메일 주소
            </template>
        </el-descriptions-item>
        <el-descriptions-item>
            <template slot="label">
                <i class="el-icon-lock"></i>
                비밀번호
            </template>
            1234567!!
        </el-descriptions-item>
        <el-descriptions-item>
            <template slot="label">
                <i class="el-icon-user"></i>
                회원 아이디
            </template>
            jinsu
        </el-descriptions-item>
        <el-descriptions-item>
            <template slot="label">
                <i class="el-icon-user"></i>
                회원 이름
            </template>
            박진수
        </el-descriptions-item>
        <el-descriptions-item>
            <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                prop:휴대전화
            </template>
            010-2453-5534
        </el-descriptions-item>
        <el-descriptions-item>
            <template slot="label">
                <i class="el-icon-date"></i>
                가입일
            </template>
            2024/01/31
        </el-descriptions-item>
        <template slot="extra">
            <el-button type="info" >수정 하기</el-button>
        </template>
        <template slot="extra">
            <el-button type="info" >뒤로 가기</el-button>
        </template>
    </el-descriptions>
</template>
<script>
export default {
  props: {
    id:{
        type:Number,
            required: true
    },
      memberId: {
        type: String,
            required: true
    },
      email: {
        type: String,
            required: true
    },
      date: {
        type: Number,
            required: true
    },
      name: {
        type: Number,
            required: true
    }
},
    data() {
        return {
            data: [{
                id:1,
                memberId:'djin123',
                email:'jinsub@naver.com',
                date: '2016-05-03',
                name: 'Tom',
            }, ],
            search: '',
        }
    },
}
</script>
