<template>
    <div id="join_member">
        <div>
            <h1>
                우리집 냉장고 / 로고나 이미지 들어갈 예정
            </h1>
        </div>
        <el-form id="join_member" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row class="join_member" :gutter="15">
                <el-col :span="8">
                    <el-form-item label="이름" prop="memberName">
                        <el-input v-model="ruleForm.memberName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row  class="join_member" :gutter="15">
                <el-col :span="8">
                    <el-form-item label="아이디" prop="memberId">
                        <el-input v-model="ruleForm.memberId"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row class="join_member" :gutter="15">
                <el-col :span="8">
                    <el-form-item label="연동정보" prop="interlockInfo">
                        <el-select v-model="ruleForm.interlockInfo" placeholder="연동정보">
                            <el-option label="네이버" value="네이버"></el-option>
                            <el-option label="카카오" value="카카오"></el-option>
                            <el-option label="구글" value="구글"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row class="join_member" :gutter="15">
                <el-col :span="8">
                    <el-form-item label="비밀번호" prop="password">
                        <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row class="join_member" :gutter="15">
                <el-col :span="8">
                    <el-form-item label="비밀번호 확인" prop="passwordRe">
                        <el-input type="password" v-model="ruleForm.passwordRe"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row class="join_member" :gutter="15">
                <el-col :span="8">
                    <el-form-item label="휴대폰 번호" prop="phoneNumber">
                        <el-input v-model="ruleForm.phoneNumber"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row class="join_member" :gutter="15">
                <el-col :span="8">
                    <el-form-item label="이메일" prop="mail">
                        <el-input v-model="ruleForm.mail"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row id="join_submit" class="join_member" :gutter="15">
                <el-col :span="20">
                    <el-form-item>
                        <div id="buttons">
                       <div id="submit_button"> <el-button type="primary" @click="doSetData()">가입 하기</el-button></div>
                       <div id="back_button"><el-button @click="">뒤로 가기</el-button> </div>
                        </div>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
export default {
    middleware: 'anonymous',
    data() {
        return {
            ruleForm: {
                memberName: '',
                memberId:'',
                interlockInfo:'',
                password:'',
                passwordRe:'',
                phoneNumber:'',
                mail:'',
                isOut: '',
            },
            rules: {
                memberName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                memberId: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                interlockInfo: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                password: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                passwordRe: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                phoneNumber: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                mail: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                isOut: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],


            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                memberName: this.ruleForm.memberName,
                memberId: this.ruleForm.memberId,
                interlockInfo: this.ruleForm.interlockInfo,
                password: this.ruleForm.password,
                passwordRe: this.ruleForm.passwordRe,
                phoneNumber: this.ruleForm.phoneNumber,
                mail: this.ruleForm.mail,
                isOut: this.ruleForm.isOut
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testConstants.DO_MEMBER_CREATE, payload)
                .then(res => {
                    this.$toast.success("등록에 성공하였습니다.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch(err => {
                    this.$toast.error("다시 입력하세요.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }

    },
    mounted() {
    }
}
</script>
