<template>
    <div id="member_list">
        <div id="member_list_h1" style="border-bottom: black 2px">
            <h1>
                회원 관리
            </h1>
        </div>
        <div id="member_list_h2">
            <h2> 회원 리스트</h2>
        </div>
    <el-table id="member_list_list"
        :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
        style="width: 100%">
        <el-table-column
            type="selection"
            width="55">
        </el-table-column>
        <el-table-column
            label="No."
            prop="id">
        </el-table-column>
        <el-table-column
            label="Name"
            prop="name">
        </el-table-column>
        <el-table-column
            label="회원 ID"
            prop="memberId">
        </el-table-column>
        <el-table-column
            label="이메일"
            prop="email">
        </el-table-column>
        <el-table-column
            label="가입일자"
            prop="date">
        </el-table-column>


        <el-table-column
            align="right" >
            <template id="member_list_column_header" slot="header" slot-scope="scope">
                <div id="member_list_header">
                    <div>
                <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Type to search"/>
                    </div>
                </div>
            </template>
            <template slot-scope="scope">
                <el-button id="member_list_button_edit"
                    @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button id="member_list_button_delete"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
            </template>
        </el-table-column>
    </el-table>
        <div>
            <el-button type="submit">
                회원등록
            </el-button>
        </div>
        </div>
</template>

<script>
export default {


    data() {
        return {
            tableData: [{
                id:1,
                memberId:'djin123',
                email:'jinsub@naver.com',
                date: '2016-05-03',
                name: 'Tom',
            }, {
                id:2,
                memberId: 'in0789',
                email: 'iy9412@naver.com',
                date: '2016-05-02',
                name: 'John',
            }, {
                id:3,
                memberId: 'hareem789',
                email:'hareem1577@gmail.com',
                date: '2016-05-04',
                name: 'Morgan',
            }, {
                id:4,
                memberId: 'gibumkim123',
                email: 'gibumjjang123@gmail.com',
                date: '2016-05-01',
                name: '김기범',
            },{
                id:5,
                memberId: 'namho456',
                email: 'namho12@naver.com',
                date: '2016-05-03',
                name: '김남호',
            },{
                id:6,
                memberId: 'byungsu111',
                email: 'byungsu652@naver.com',
                date: '2016-05-03',
                name: '배병수',
            }],
            search: '',
        }
    },
    methods: {
        handleEdit(index, row) {
            console.log(index, row);
        },
        handleDelete(index, row) {
            console.log(index, row);
        }
    },
}
</script>
